@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: var(--font-nunito-sans), Helvetica, Arial, Lucida, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

[data-aos="fade-in"] {
  transform: translate3d(0, 8px, 0);
}
